<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE AND AJAX ASSIGNMENT (API MASHUP)</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato%7CRaleway"
      rel="stylesheet"
    />
    <link href="css/grid.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <!-- <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script type="module" src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@v21.6.1/dist/vue.js"></script>
  </head>
  <body>
    <div class="grid-con" id="app">
      <div class="col-span-full">
        <h2>My Favourite Singer</h2>
        <p>Sidhu</p>
        <p>Check Now!</p>
        <ul id="song-list">
          <li v-for="song in songData">
            <!-- thumbnail to be added by students, v-bind -->
            <h3>
              Title:
              <a href="#song" @click="getSong(song.title)"> {{song.title}}</a>
            </h3>
            <h4>Duration: {{song.Duration_time}}</h4>
          </li>
        </ul>
      </div>
      <div class="col-span-full" id="songInfoCon">
        <div v-if="error">{{error}}</div>
        <div v-if="album" id="book">
          <p>Album: {{albumTitle}}</p>
          <p>Rating: {{ratingsAverage}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
