
body {
    font-family:'Raleway', sans-serif;
    background-color:  #fff;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  header.heading {
    text-align: center;
    margin-bottom: 20px;
  
    h1 {
      color: #a30c0c;
    }
  }